@use "../global" as *;
@use "sass:math";

.content {
	position: absolute;
	left: 0;
	top: 0;
	pointer-events: auto;
	// background-color: rgba($color: #fff, $alpha: 0.5);

	color: #fff;

	&-inner {
		width: 100%;
		height: 100%;
	}

	&-title {
		font-family: $bebas;
		font-size: 58px;
		
		opacity: 0;
		transition: opacity 2s;
		
		[data-content_visibility="true"] & {
			opacity: 1;
		}
	}

	&-img {
		width: 100%;
		height: 50%;
	}
	
	&-desc {
		font-family: $roboto;
		font-size: 15px;
		font-weight: 300;
		letter-spacing: 0.07em;
		margin-bottom: 12px;

		background-color: rgba($color: #000000, $alpha: 0.2);
		padding: 5px;
		border-radius: 3px 3px;
		
		opacity: 0;
		transition: opacity 2s;
		
		[data-content_visibility="true"] & {
			opacity: 1;
		}
		
	}

	&-link {
		opacity: 0;
		transition: opacity 2s;
		
		[data-content_visibility="true"] & {
			opacity: 1;
		}
		
		a {
			font-family: $roboto;
			color: #fff;
			text-decoration: none;
			display: inline-flex;
		}
		svg {
			width: 20px;
			margin-left: 2px;
			path {
				fill: #fff;
			}
		}
	}
	
	&-back {
		position: absolute;
		width: 100%;
		right: 0;
		bottom: 0;
		text-align: right;

		opacity: 0;
		transition: opacity 2s;
		
		[data-content_visibility="true"] & {
			opacity: 1;
		}

		&-btn {
			font-size: 14px;
			font-family: $roboto;
			border: none;
			border-bottom: 1px solid #fff;
			background-color: transparent;
			padding-left: 15px;
			color: #fff;
			cursor: pointer;
		}
	}
}
